#linkPreviewContainer {
    position: fixed;
    display: block;
    width: 50%;
    height: 50%;
    top: 10px;
    left: 10px;
    z-index: 1000000;
    border: 5px solid red;
    background: white;
}

#linkPreviewIframe {
    width: 100%;
    height: 100%;
    border: none;
    frameBorder: none;
}
